<ion-header>
  <ion-toolbar>
    <ion-title>{{ tituloPagina }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formData">

    <ion-item class="form-item">
      <ion-input
        type="text"
        label="Nome"
        label-placement="stacked"
        formControlName="nome"
        placeholder="Nome completo"
      ></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-select
        label="Sexo"
        label-placement="stacked"
        interface="popover"
        formControlName="sexo"
        placeholder="Selecionar"
      >
        <ion-select-option value="F">Feminino</ion-select-option>
        <ion-select-option value="M">Masculino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="form-item">
      <ion-input
        type="tel"
        label="Telefone"
        label-placement="stacked"
        formControlName="telefone"
        maxlength="15"
        placeholder="(00) 00000-0000"
      ></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-input
        type="number"
        label="Idade"
        label-placement="stacked"
        formControlName="idade"
        maxlength="3"
        placeholder="Ex: 30"
      ></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-textarea
        label="Objetivos"
        label-placement="stacked"
        formControlName="objetivos"
        placeholder="Ex: Emagrecimento, hipertrofia..."
        [autoGrow]="true"
        rows="3"
      ></ion-textarea>
    </ion-item>

  </form>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="messageToast"
    [color]="colorHelp"
    [duration]="3000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="botoes">
      <ion-button
        expand="block"
        color="primary"
        (click)="salvar()"
        [disabled]="!formData.valid"
      >
        <ion-icon slot="start" name="save"></ion-icon>
        Salvar
      </ion-button>
      <ion-button
        expand="block"
        fill="outline"
        color="danger"
        (click)="cancelar()"
      >
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Cancelar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
