<ion-card>
  <ion-card-header>
    <ion-card-title>{{ usuarioXTreino.nome }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="reader" slot="start"></ion-icon>
        <ion-label><b>Objeticvos:</b>{{ usuarioXTreino.objetivos }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <div class="ion-text-end">
    <ion-button (click)="listaTreinos()" color="secondary">
      <ion-icon slot="end" name="barbell"></ion-icon>
      Exercícios</ion-button
    >
    <ion-button color="primary" (click)="editar()">
      <ion-icon slot="end" name="build"></ion-icon>
      Editar</ion-button
    >
    <ion-button color="danger" (click)="excluir()">
      <ion-icon slot="end" name="trash"></ion-icon>
      Excluir</ion-button
    >
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Treino {{ usuarioXTreino.nome }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <div *ngFor="let treino of treinos">
            <ion-item-group>
              <!-- <ion-item-divider>
                <ion-label>
                  Section A
                </ion-label>
              </ion-item-divider> -->

              <ion-item lines="none">
                <ion-checkbox label-placement="start"
                  ><b>{{ treino.nome }}</b></ion-checkbox
                >
              </ion-item>
              <ion-item> <b>Equipamento:</b>{{ treino.equipamento }} </ion-item>
            </ion-item-group>
          </div>

          <ion-button class="save.button" expand="block" color="primary">
            <ion-icon slot="end" name="save"></ion-icon>
            Salvar</ion-button
          >
          <ion-button class="cancel.button" expand="block" color="danger">
            <ion-icon slot="end" name="arrow-back"></ion-icon>
            Cancelar</ion-button
          >
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-card>
