.save-button{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-top: 10px;
  --border-radius: 12px;
  margin-top: 60px;
  --box-shadow: none;
}

.edit-button{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  --box-shadow: none;
}

.cancel-button{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;
  --box-shadow: none;
}
