<ion-card>
  <ion-card-header>
    <ion-card-title>{{ usuarioXTreino.nome }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="reader" slot="start"></ion-icon>
        <ion-label><b>Objetivos:</b>{{ usuarioXTreino.objetivos }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <div class="group-button-card">
    <ion-button fill="clear" slot="start" (click)="listaTreinos()" color="secondary" id="open-modal" >
      <ion-icon slot="end" name="barbell"></ion-icon>
      Exerc.</ion-button
    >
    <ion-button fill="clear" color="primary" (click)="editar()">
      <ion-icon slot="end" name="build"></ion-icon>
      Editar</ion-button
    >
    <ion-button fill="clear" color="danger" (click)="excluir()">
      <ion-icon slot="end" name="trash"></ion-icon>
      Excluir</ion-button
    >
  </div>
</ion-card>
