<ion-card>
  <ion-card-header>
    <ion-card-title>{{ usuarioXTreino.nome }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="reader" slot="start"></ion-icon>
        <ion-label><b>Objeticvos:</b>{{ usuarioXTreino.objetivos }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <div class="ion-text-end">
    <ion-button (click)="treinos()" color="secondary">
      <ion-icon slot="end" name="barbell"></ion-icon>
      Exercícios</ion-button
    >
    <ion-button color="primary" (click)="editar()">
      <ion-icon slot="end" name="build"></ion-icon>
      Editar</ion-button
    >
    <ion-button color="danger" (click)="excluir()">
      <ion-icon slot="end" name="trash"></ion-icon>
      Excluir</ion-button
    >
  </div>
</ion-card>
