<ion-card class="aluno-card">
  <ion-card-header>
    <div class="avatar-wrapper">
      <img
        *ngIf="imagem !== './../../../../assets/imgs/avatar-do-usuario.png'"
        [src]="imagem"
        class="avatar-img"
        alt="foto do aluno"
      />
      <div
        *ngIf="imagem === './../../../../assets/imgs/avatar-do-usuario.png'"
        class="avatar-inicial"
      >{{ inicialNome }}</div>
    </div>
    <div class="header-info">
      <ion-card-title>{{ usuario.nome }}</ion-card-title>
      <ion-label class="telefone" (click)="openPhone()">
        <ion-icon name="call"></ion-icon> {{ usuario.telefone }}
      </ion-label>
    </div>
  </ion-card-header>

  <div class="acoes-botoes">
    <ion-button class="btn-avaliacao" fill="clear" (click)="abreAvaliacao()">
      <ion-icon slot="start" name="stats-chart"></ion-icon>
      Avaliação
    </ion-button>
    <ion-button class="btn-editar" fill="clear" (click)="editar()">
      <ion-icon slot="start" name="build"></ion-icon>
      Editar
    </ion-button>
    <ion-button class="btn-excluir" fill="clear" (click)="excluir()">
      <ion-icon slot="start" name="trash"></ion-icon>
      Excluir
    </ion-button>
  </div>
</ion-card>
