<ion-card [class.card-selecionado]="selecionado">
  <ion-card-content>
    <div class="linha">
      <div class="data-row">
        <ion-icon name="calendar-outline" color="primary"></ion-icon>
        <span class="data-texto">{{ avalicao.dataAvaliacao | date:'dd/MM/yyyy' }}</span>
      </div>
      <div class="acoes">
        <ion-button fill="clear" color="primary" (click)="editar()">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="excluir()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
