<ion-card [class.card-selecionado]="selecionado">
  <ion-card-header>
    <ion-card-title>{{ usuarioNome }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label
          ><b>Data da Avaliação: </b>{{ avalicao.dataAvaliacao }}</ion-label
        >
      </ion-item>
    </ion-list>
  </ion-card-content>
  <div class="ion-text-end">
    <ion-button fill="clear" color="primary" (click)="editar()">
      <ion-icon slot="end" name="build"></ion-icon>
      Editar</ion-button
    >
    <ion-button fill="clear" color="danger" (click)="excluir()">
      <ion-icon slot="end" name="trash"></ion-icon>
      Excluir</ion-button
    >
  </div>
</ion-card>
