<ion-content [fullscreen]="true" class="page">
  <div class="container">
    <img
      class="logo"
      src="../../../../assets/imgs/logo.jpeg"
      alt="Logo Academia"
    />

    <div [formGroup]="formData">
      <ion-item class="ion-item">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input
          type="email"
          label="Usuário"
          label-placement="floating"
          formControlName="email"
          errorText="E-mail inválido"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-item">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input
          type="password"
          formControlName="password"
          label="Senha"
          label-placement="floating"
        ></ion-input>
      </ion-item>
    </div>

    <ion-button
      class="login-button"
      expand="block"
      (click)="login()"
      [disabled]="!formData.valid || desabilitaLogin"
    >Entrar</ion-button>

    <ion-label
      class="esqueci-senha"
      expand="block"
      color="primary"
      (click)="senha()"
    >Esqueci a Senha</ion-label>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="Usuário não autenticado"
    [color]="colorHelp"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
