teste

<ion-content [fullscreen]="true" class="page">
  <!-- <h1 class="welcome-text">Bem-Vindo</h1> -->

  <div class="container">
    <img
      class="logo"
      src="../../../../assets/imgs/logo.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    />

    <!-- <ion-input
      class="ion-item"
      label="Usuário"
      label-placement="floating"
      fill="outline"
      placeholder="Informe o Usuário"
    ></ion-input>

    <ion-input
      class="ion-item"
      label="Senha"
      label-placement="floating"
      fill="outline"
      placeholder="Informe a Senha"
    ></ion-input> -->

    <div [formGroup]="formData">
      <ion-item class="ion-item">
        <ion-icon name="person" slot="start"></ion-icon>
        <!-- <ion-label position="floating">Usuário</ion-label> -->
        <ion-input
          label="Usuário"
          label-placement="floating"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-item">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <!-- <ion-label position="floating" fill="solid">Senha</ion-label> -->
        <ion-input
          type="password"
          formControlName="password"
          label="Senha"
          label-placement="floating"
        ></ion-input>
      </ion-item>
    </div>

    <ion-button
      class="login-button"
      expand="block"
      (click)="login()"
      [disabled]="!formData.valid"
      >Login</ion-button
    >
  </div>
</ion-content>
