<ion-router-outlet></ion-router-outlet>

<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="usuarios" (click)="goTo('admin/usuarios')">
      <ion-icon name="person"></ion-icon>
      Alunos
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      Sair
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-alert
  trigger="present-alert"
  header="Atenção"
  message="Confirma o Logout?"
  [buttons]="alertButtons"
></ion-alert>
