<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Usuários</ion-title>
  </ion-toolbar>
  <ion-searchbar
    [debounce]="1000"
    (ionChange)="buscaAlunos($event)"
    id="open-loading"
    placeholder="Busca de Alunos"
  ></ion-searchbar>
</ion-header>
<ion-content>
  <div *ngFor="let usuario of usuarios">
    <app-usuarios-card [usuario]="usuario"></app-usuarios-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="novoUsuario()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
