<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Alunos</ion-title>
  </ion-toolbar>
  <div class="search-wrapper">
    <ion-item class="search-item">
      <ion-icon name="search-outline" slot="start" color="medium"></ion-icon>
      <ion-input
        (ionInput)="buscaAlunos($event)"
        placeholder="Busca de Alunos"
        clearInput="true"
      ></ion-input>
      <ion-spinner *ngIf="buscando" slot="end" name="crescent" color="primary"></ion-spinner>
    </ion-item>
  </div>
</ion-header>

<ion-content>
  <div *ngFor="let usuario of usuarios">
    <app-usuarios-card [usuario]="usuario" (registroExcluido)="registroExcluido()"></app-usuarios-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="novoUsuario()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
