<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{ tituloDaPagina }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [formGroup]="formData">
    <div style="overflow-x: auto; white-space: nowrap; padding: 8px 0;">
      <ion-segment
        scrollable
        value="composicao"
        color="primary"
        (ionChange)="trocaSegmento($event)"
      >
        <ion-segment-button value="composicao">
          <ion-label>Comp.</ion-label>
        </ion-segment-button>
        <ion-segment-button value="perimetros">
          <ion-label>Per.</ion-label>
        </ion-segment-button>
        <ion-segment-button value="forca">
          <ion-label>Força</ion-label>
        </ion-segment-button>
        <ion-segment-button value="resultado">
          <ion-label>Avaliação</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngIf="isEdicao" value="fotos">
          <ion-label>Fotos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="segmento === 'composicao'">
      <ion-item class="ion-item">
        <ion-input
          type="date"
          label="Data da Avaliação"
          label-placement="floating"
          formControlName="dataAvaliacao"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Peso Atual (Kg)"
          label-placement="floating"
          formControlName="pesoAtual"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Altura (M)"
          label-placement="floating"
          formControlName="altura"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Subscapular (mm)"
          label-placement="floating"
          formControlName="subscapular"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Tricipital (mm)"
          label-placement="floating"
          formControlName="tricipital"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Peitoral (mm)"
          label-placement="floating"
          formControlName="peitoral"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Axiliar Média (mm)"
          label-placement="floating"
          formControlName="axilarMedia"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Supra Iliaca (mm)"
          label-placement="floating"
          formControlName="supraIliaca"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Abdominal (mm)"
          label-placement="floating"
          formControlName="abdominal"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Coxa (mm)"
          label-placement="floating"
          formControlName="coxa"
        ></ion-input>
      </ion-item>
    </div>
    <div *ngIf="segmento === 'perimetros'">
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Tórax"
          label-placement="floating"
          formControlName="torax"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Cintura"
          label-placement="floating"
          formControlName="cintura"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Abdome"
          label-placement="floating"
          formControlName="abdome"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Quadril"
          label-placement="floating"
          formControlName="quadril"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Antebracos"
          label-placement="floating"
          formControlName="antebracos"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Braços"
          label-placement="floating"
          formControlName="bracos"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Coxas"
          label-placement="floating"
          formControlName="coxas"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Panturrilhas"
          label-placement="floating"
          formControlName="panturrilhas"
        ></ion-input>
      </ion-item>
    </div>
    <div *ngIf="segmento === 'forca'">
      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Total de Flexões"
          label-placement="floating"
          formControlName="totalFlexoes"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-item">
        <ion-input
          type="number"
          label="Total de Abdominais"
          label-placement="floating"
          formControlName="totalAbdominais"
        ></ion-input>
      </ion-item>

      <!-- Tabelas de Referência -->
      <ng-container *ngIf="aluno.sexo=== 'M'">
        <ion-card class="tabela-referencia">
          <ion-card-header>
            <ion-card-title>Referência – Flexão (Masculino)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table class="tabela-estilizada">
              <thead>
                <tr>
                  <th>Idade</th><th>Excelente</th><th>Bom</th><th>Regular</th><th>Fraco</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>15-19</td><td>40+</td><td>30-39</td><td>20-29</td><td>&lt;20</td></tr>
                <tr><td>20-29</td><td>35+</td><td>25-34</td><td>15-24</td><td>&lt;15</td></tr>
                <tr><td>30-39</td><td>30+</td><td>20-29</td><td>12-19</td><td>&lt;12</td></tr>
                <tr><td>40-49</td><td>25+</td><td>15-24</td><td>10-14</td><td>&lt;10</td></tr>
                <tr><td>50+</td>   <td>20+</td><td>10-19</td><td>5-9</td><td>&lt;5</td></tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>

        <ion-card class="tabela-referencia">
          <ion-card-header>
            <ion-card-title>Referência – Abdominal Tradicional (Masculino)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table class="tabela-estilizada">
              <thead>
                <tr>
                  <th>Idade</th><th>Excelente</th><th>Bom</th><th>Regular</th><th>Fraco</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>15-19</td><td>55+</td><td>45-54</td><td>35-44</td><td>&lt;35</td></tr>
                <tr><td>20-29</td><td>50+</td><td>40-49</td><td>30-39</td><td>&lt;30</td></tr>
                <tr><td>30-39</td><td>45+</td><td>35-44</td><td>25-34</td><td>&lt;25</td></tr>
                <tr><td>40-49</td><td>40+</td><td>30-39</td><td>20-29</td><td>&lt;20</td></tr>
                <tr><td>50+</td>   <td>35+</td><td>25-34</td><td>15-24</td><td>&lt;15</td></tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="aluno.sexo === 'F'">
        <ion-card class="tabela-referencia">
          <ion-card-header>
            <ion-card-title>Referência – Flexão (Feminino)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table class="tabela-estilizada">
              <thead>
                <tr>
                  <th>Idade</th><th>Excelente</th><th>Bom</th><th>Regular</th><th>Fraco</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>15-19</td><td>30+</td><td>20-29</td><td>12-19</td><td>&lt;12</td></tr>
                <tr><td>20-29</td><td>25+</td><td>15-24</td><td>10-14</td><td>&lt;10</td></tr>
                <tr><td>30-39</td><td>20+</td><td>12-19</td><td>8-11</td><td>&lt;8</td></tr>
                <tr><td>40-49</td><td>15+</td><td>10-14</td><td>5-9</td><td>&lt;5</td></tr>
                <tr><td>50+</td>   <td>10+</td><td>5-9</td><td>2-4</td><td>&lt;2</td></tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>

        <ion-card class="tabela-referencia">
          <ion-card-header>
            <ion-card-title>Referência – Abdominal Tradicional (Feminino)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table class="tabela-estilizada">
              <thead>
                <tr>
                  <th>Idade</th><th>Excelente</th><th>Bom</th><th>Regular</th><th>Fraco</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>15-19</td><td>45+</td><td>35-44</td><td>25-34</td><td>&lt;25</td></tr>
                <tr><td>20-29</td><td>40+</td><td>30-39</td><td>20-29</td><td>&lt;20</td></tr>
                <tr><td>30-39</td><td>35+</td><td>25-34</td><td>15-24</td><td>&lt;15</td></tr>
                <tr><td>40-49</td><td>30+</td><td>20-29</td><td>10-19</td><td>&lt;10</td></tr>
                <tr><td>50+</td>   <td>25+</td><td>15-24</td><td>5-14</td><td>&lt;5</td></tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </div>


    <div *ngIf="segmento === 'resultado'">
      <app-usuario-avaliacao-pollock
        [dadosAvaliacao]="formData.value"
      ></app-usuario-avaliacao-pollock>
    </div>
    <div *ngIf="segmento === 'fotos'">
      <app-usuario-avaliacao-fotos [idAvaliacao]="idAvaliacao"></app-usuario-avaliacao-fotos>
    </div>
  </div>

  <div class="ion-text-end">
    <ion-button
      class="login-button"
      expand="block"
      (click)="salvar()"
      color="primary"
      [disabled]="!formData.valid"
      >Salvar</ion-button
    >
    <ion-button
      class="cancel-button"
      expand="block"
      (click)="cancelar()"
      color="danger"
      >Cancelar</ion-button
    >
  </div>
</ion-content>
