<div [formGroup]="formData">
  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="% De Gordura Ideal"
      label-placement="floating"
      formControlName="percentualGorduraIdeal"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Ideal"
      label-placement="floating"
      formControlName="pesoIdeal"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Muscular"
      label-placement="floating"
      formControlName="pesoMuscular"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="% Peso Muscular"
      label-placement="floating"
      formControlName="percentualPesoMuscular"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="% De Gordura Atual"
      label-placement="floating"
      formControlName="percentualGorduraAtual"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Massa Gorda"
      label-placement="floating"
      formControlName="pesoGordo"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Massa Magra"
      label-placement="floating"
      formControlName="pesoMagro"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Residual"
      label-placement="floating"
      formControlName="pesoResidual"
      [disabled]="true"
    ></ion-input>
  </ion-item>

</div>

<ion-item>
  <ion-label>Tipo de Gráfico</ion-label>
  <ion-select [(ngModel)]="tipoGrafico" [ngModelOptions]="{standalone: true}" (ionChange)="renderizaGrafico()">
    <ion-select-option value="barras" title="Composição Corporal (kg)">Composição Corporal</ion-select-option>
    <ion-select-option value="pizza" title="Distribuição Corporal (%)">Distribuição Corporal (%)</ion-select-option>
    <ion-select-option value="comparativoPercentual" title="Comparativo Ideal x Atual (%)">Comparativo (% Ideal vs Atual)</ion-select-option>
  </ion-select>
</ion-item>

<!-- Canvas dinâmico -->
<div class="ion-padding">
  <ion-card>
    <ion-card-header>{{ tituloGrafico }}</ion-card-header>
    <ion-card-content>
      <canvas #graficoCanvas style="max-height: 300px; width: 100%;"></canvas>
    </ion-card-content>
  </ion-card>
</div>