<div [formGroup]="formData">
  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="% De Gordura Ideal"
      label-placement="floating"
      formControlName="percentualGorduraIdeal"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="% De Gordura Atual"
      label-placement="floating"
      formControlName="percentualGorduraAtual"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Gordo"
      label-placement="floating"
      formControlName="pesoGordo"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Magro"
      label-placement="floating"
      formControlName="pesoMagro"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Desejável"
      label-placement="floating"
      formControlName="pesoDesejavel"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-item">
    <ion-input
      type="number"
      label="Peso Residual"
      label-placement="floating"
      formControlName="pesoResidual"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header> Composição Corporal </ion-card-header>
      <ion-card-content>
        <canvas
          #barCanvas
          style="position: relative; height: 20vh; width: 40vw"
        ></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</div>
