<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="titulo-aluno">Avaliação — {{ usuario.nome }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="avaliacoesUsuario.length === 0">
    <ion-text color="tertiary">
      <h3>Nenhuma avaliação encontrada para este aluno</h3>
    </ion-text>
  </div>
  <div *ngFor="let avaliacao of avaliacoesUsuario">
    <app-usuario-avaliacao-card
      [avalicao]="avaliacao"
      [usuarioNome]="usuario.nome"
      [selecionado]="avaliacoesSelecionadas.includes(avaliacao)"
      (click)="selecionarAvaliacao(avaliacao)"
    ></app-usuario-avaliacao-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="novaAvaliacao()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="botoes-footer">
      <ion-button
        expand="block"
        color="primary"
        (click)="executarComparacao()"
        [disabled]="avaliacoesSelecionadas.length !== 2"
      >
        Comparar Avaliações
      </ion-button>
      <ion-button expand="block" fill="outline" color="danger" (click)="cancelar()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
