.ion-item{
  // margin-left: 20px;
  margin-top: 20px;
}
ion-list{
  // margin-left: 20px;
  margin-top: 20px;
}

.login-button{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;
  margin-top: 60px;
  --box-shadow: none;
}

.cancel-button{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  --border-radius: 12px;
  --box-shadow: none;
}
