teste

<ion-content [fullscreen]="true" class="page">
  <!-- <h1 class="welcome-text">Bem-Vindo</h1> -->

  <div class="container">
    <img
      class="logo"
      src="../../../../assets/imgs/logo.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    />

    <div [formGroup]="formData">
      <ion-item class="ion-item">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input
          type="email"
          label="Usuário"
          label-placement="floating"
          formControlName="email"
          errorText="Invalid email"
        ></ion-input>
      </ion-item>
    </div>

    <ion-button
      class="login-button"
      expand="block"
      (click)="resetSenha()"
      [disabled]="!formData.valid || desabilitaLogin"
      >Enviar E-mail</ion-button
    >
  </div>
</ion-content>
