<ion-content [fullscreen]="true">
  <div class="container">
    <img
      class="logo"
      src="../../../../assets/imgs/logo.jpeg"
      alt="Logo Academia"
    />

    <p class="instrucao">Digite seu e-mail para receber o link de redefinição de senha.</p>

    <div [formGroup]="formData">
      <ion-item class="ion-item">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input
          type="email"
          label="E-mail"
          label-placement="floating"
          formControlName="email"
          errorText="E-mail inválido"
        ></ion-input>
      </ion-item>
    </div>

    <ion-button
      class="login-button"
      expand="block"
      (click)="resetSenha()"
      [disabled]="!formData.valid || desabilitaLogin"
    >Enviar E-mail</ion-button>

    <ion-label class="voltar" (click)="voltar()">Voltar ao login</ion-label>
  </div>
</ion-content>
